<div id="fullpage">
  <div class="section">Curtis Lu</div>
  <div class="section" id="section2">About Me</div>
  <div class="section">
      <div class="slide">Projects</div>
      <div class="slide">Project #1</div>
      <div class="slide">Project #2</div>
  </div>
  <div class="section" id="section4">Something Random</div>
</div>
