<div id="fullpage">
  <div class="section" id="section1">
    <h1 id="name">Curtis Lu</h1>

    <span id="element"></span>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script>
      var typed = new Typed('#element', {
        strings: ['Web Designer', 'Scholar', 'Badminton'],
        typeSpeed: 50,
        loop: true
      });
    </script>
  </div>

  <div class="section" id="section2">About Me</div>

  <div class="section" id="section3">
      <div class="slide">Projects</div>
      <div class="slide">Project #1</div>
      <div class="slide">Project #2</div>
  </div>

  <div class="section" id="section4">Something Random</div>

</div>
