<div id="fullpage">

  <div class="section" id="section1">
    <h1 id="name">Curtis Lu</h1>

    <span id="element"></span>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script>
      var typed = new Typed('#element', {
        strings: ['Full-stack Web Developer', 'Badminton Player', 'Scholar', 'Translator', 'Educator', 'Keyboard Enthusiast'],
        typeSpeed: 50,
        backSpeed: 0,
        smartBackspace: true,
        loop: true
      });
    </script>
  </div>

  <div class="section" id="section2">
    <div class="row">
      <div class="col-5">
        <img src="images/profile2.jpg" alt="profile picture" id="profile">
      </div>
      <div class="col-7" id="about">
        <p>About</p>
        <h2>I'm Curtis, a Full-stack Web Developer from California, currently living in Tokyo. <br> In my free time, you'll find me on the badminton courts! <br> Fun fact: I'm colorblind.</h2>
      </div>
    </div>
  </div>

  <div class="section" id="section3">
      <div class="slide" id="p_info">
        <h1>Projects</h1>
        Some things that <br> I've worked on!
      </div>
      <div class="slide">Project #1</div>
      <div class="slide">Project #2</div>
  </div>

  <div class="section" id="section4">
    <div class="card-white" id="social">
          <h2>Social Links</h2>
          <br>
          <a href="https://github.com/KarasuGummi" target="_blank" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">
            <i class="fa-brands fa-github fa-2xl"></i>
          </a>
          <a href="https://www.linkedin.com/in/curtis-lu/" target="_blank" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">
            <i class="fa-brands fa-linkedin fa-2xl"></i>
          </a>
          <a href="https://www.facebook.com/KarasuGummi" target="_blank" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">
            <i class="fa-brands fa-square-facebook fa-2xl"></i>
          </a>

          <script>
            function mouseOver(link) {
              link.style.color = '#3A7CA5';
            }

            function mouseOut(link) {
              link.style.color = '';
            }
          </script>
      </div>
  </div>

</div>
