<div id="fullpage">

  <div class="section" id="section1">
    <h1 id="name">Curtis Lu</h1>

    <span id="element"></span>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script>
      var typed = new Typed('#element', {
        strings: ['Web Designer', 'Scholar', 'Badminton'],
        typeSpeed: 50,
        loop: true
      });
    </script>
  </div>

  <div class="section" id="section2">
    <div class="row">
      <div class="col-5">
        <img src="images/profile.jpg" alt="profile picture" id="profile">
      </div>
      <div class="col-7" id="about">
        <p>About</p>
        <h2>I'm a Full-stack Web Developer from California, currently living in Tokyo. In my free time, you'll find me on the badminton courts!</h2>
      </div>
    </div>
  </div>

  <div class="section" id="section3">
      <div class="slide">Projects</div>
      <div class="slide">Project #1</div>
      <div class="slide">Project #2</div>
  </div>

  <div class="section" id="section4">Something Random</div>

</div>
