<div id="fullpage">

  <div class="section" id="section1">
    <h1 id="name">Curtis Lu</h1>

    <span id="element"></span>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script>
      var typed = new Typed('#element', {
        strings: ['I\'m a Full-stack Web Developer', 'I\'m a Badminton Player', 'I\'m a Scholar', 'I\'m a Translator'],
        typeSpeed: 50,
        backSpeed: 0,
        smartBackspace: true,
        loop: true
      });
    </script>
  </div>

  <div class="section" id="section2">
    <div class="row">
      <div class="col-5">
        <img src="images/profile2.jpg" alt="profile picture" id="profile">
      </div>
      <div class="col-7" id="about">
        <p>About</p>
        <h2>I'm Curtis, a Full-stack Web Developer from California, currently living in Tokyo. In my free time, you'll find me on the badminton courts! Fun fact: I'm colorblind.</h2>
      </div>
    </div>
  </div>

  <div class="section" id="section3">
      <div class="slide">Projects</div>
      <div class="slide">Project #1</div>
      <div class="slide">Project #2</div>
  </div>

  <div class="section" id="section4">
    <div class="card-white" id="social">
          <h2>Social Links</h2>
          <br>
          <a href="https://github.com/KarasuGummi" target="_blank">
            <i class="fa-brands fa-github fa-2xl"></i>
          </a>
          <a href="https://www.linkedin.com/in/curtis-lu/" target="_blank">
            <i class="fa-brands fa-linkedin fa-2xl"></i>
          </a>
      </div>
  </div>

</div>
