.section {
  text-align: center;
  font-size: 3em;
  background-position: center center;
  background-repeat: none;
  background-size: cover;
}

.fp-watermark {
  display: none;
}

/* title page */

#section1 {
  background-image: url('images/black_sand.jpg');
  color: #D9DCD6;
}

#name {
  font-size: 120px;
  color: #D9DCD6;
}

/* about me */

#section2 {
  background-image: url('images/keyboard.jpg');
}

#profile {
  height: 620px;
  border-radius: 8px;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

#about p,
#about h2 {
  margin-left: 20px;
}

#about p {
  font-size: 32px;
  color: #81C3D7;
}

#about h2 {
  font-size: 48px;
  color: #D9DCD6;
}

/* projects */

#p_info {
  background-image: url('images/keyboard.jpg');
  color: #D9DCD6;
}

#p_info h1 {
  color: #D9DCD6;
  font-size: 200px;
}

.content {
  color: #D9DCD6;
}

.content h1 {
  font-size: 100px;
}

.content h3 {
  font-size: 60px;
}

.content a {
  text-decoration: none;
  color: #2F6690;
}

/* contact info */

#section4 {
  background-image: url('');
  opacity: 80%;
}

.card-white {
  background: white;
  opacity: 70%;
  width: 400px;
  padding: 30px;
  border: 1px solid lightgrey;
  margin: 20px auto;
  box-shadow: 0px 10px 30px grey;
}

#social h2, #social a {
  font-size: 48px;
  color: #2F6690;
  text-decoration: none;
}

/* changes navigation ui colors */

#fp-nav ul li a span,
.fp-slidesNav ul li a span{
  background: white;
}
